* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    margin: auto;
    background-color: darkkhaki;
    height: 500px;
    width: 500px;
}

.child {
    width: 50%;
    height: 50%;
    background-color: cadetblue;
    animation: left-to-right 1s ease-in-out 0.1s forwards infinite alternate;
}

.parent:hover .child {
    animation-play-state:paused ;
}

@keyframes left-to-right {
    20% {
        transform: translate(100%, 0);
        background-color: brown;
    }
    40% {
        transform: translate(50%, -50%);
        background-color: rgb(42, 155, 165);
    }
    60% {
        transform: translate(100%, 100%);
        background-color: rgb(165, 153, 42);
    }
    80% {
        transform: translate(0, 100%);
        background-color: antiquewhite;
    }
    100% {
        transform: translate(0, 0);
        background-color: rgb(161, 42, 165);
    }
}